<div class="flex-container align-center flex-column">
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()" class="form">
    <h2 class="text-center">Multiple checkbox Form control Demo</h2>
    <div class="flex-container flex-wrap">
      <div class="element">
        <label class="field-label">Hobbies</label>
        <div class="flex-container">
          <div *ngFor="let hobby of personForm.controls.hobbies.controls; let i=index;"
            class="flex-container  align-center multi-checkbox">
            <input type="checkbox" [formControl]="hobby" (change)="getSelectedHobbies(hobby, myhobbies[i].name);">
            {{myhobbies[i].name}}
          </div>
        </div>
      </div>
      <div class="element">
        <label class="field-label">Selected Hobbies:</label>
        <div class="flex-container">
          <label *ngFor="let hobby of selectedHobbiesNames;">
            {{hobby}}
          </label>
        </div>
      </div>
    </div>
  </form>
</div>