.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.form {
  display: flex;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 20px;
  width: 600px;
  flex-wrap: wrap;
  flex-direction: column;
}

.element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 15px;

  label {
    text-align: left;
    margin: 0px 10px;
    padding: 10px 0px;
  }
}

.multi-checkbox {
  margin: 0px 5px;
}

h2 {
  background-color: #1818cc;
  color: white;
  padding: 10px 10px;
  margin-top: 0px;
}

.text-center {
  text-align: center;
}
